__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

backup/
test/

Laporan_Grafika_Komputer_Hand_Gesture*.docx
Laporan_Grafika_Komputer_Hand_Gesture*.pdf
Lampiran_*.docx
~$*.docx
.DS_Store
Thumbs.db
